.root {
    margin: 20px 0 0 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
}

.root p {
    margin: 10px 0 10px 10px;
}