.container {
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 5vh;
    margin-left: 10vh;
    width: 100vh;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.6s all;
    text-decoration: none;
    color: #1F1F1F;
}

.container:hover {
    transform: scale(1.1);
}

.basic_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vh;
    font-size: 3vh;
}

.city_info {
    font-weight: 400;
    margin-left: 3vh;
}

.city_info p{
    margin-top: 1vh;
}

.temp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 11vh 0 0 2vh;
}

.temp p {
    font-weight: 800;
    font-size: 10vh;
}

.temp h3 {
    font-size: 3vh;
}

.temp img {
    width: 18vh;
}

.additional_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vh;
    font-size: 3vh;
}

.additional_info_items {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    width: 40vh;
}
